* {
    margin: 0;
    padding: 0;
}

.section {
    padding-top: 20px;
    padding-left: 70px;
    width: 1830px;
    margin: 0 auto;
}

.head {}

.head_in_box {
    font-weight: bold;
}

.body {
    width: 1698px;
    height: 365px;
    border: solid black;
    margin-left: 30px;
     border-radius: 30px;
     display: flex;
}
.body_name{
    margin-left: 30px;
    margin-bottom: 10px;
}
.body_in_button{
    border-radius: 25px;
    flex: content;
    font-size: 50px;
}
.body2{
    width: 1698px;
    height: 365px;
    border: solid black;
    margin-left: 30px;
    border-radius: 30px;
    display: flex;
}
.body2_name{
    margin-left: 40px;
    margin-bottom: 10px;
}